body{
	background-color: #003333;
}
.front{
	width: 60%;
	margin:auto;
}
.header{
	position:relative;
}
.header #logo{
	width: 25%;
	height:25%;
}
.header #gear{
	float:right;
	width:7%;
	height:7%;
	margin-top: 15px;
	/*top:15%;
	right:5%;*/
}
#tiles{
	width:100%;
}
.content{
	position: relative;
	width: 25%;
	display: inline-block;
	padding: 0px;
	margin: 0px; 
}
.contentImg {
	width:100%;
}
.contentText {
	color: green;
	font-size: 1.5vw;
	overflow: hidden;
	position:absolute;
	left: 4%;
	top: 4%;
}
footer{
	width: 60%;
}
footer img{
	width:166.5%;
}
.back{
	width: 60%;
	margin: 0px auto;
	border:1px solid white;
	position: relative;
	background-color: white;
}
header h1{
	margin:4%;
	font-size: 2vw;
	display:inline-block;
}
header #done{
	display:inline-block;
	float:right;
	margin:3%;
	font-size:1.4vw;
	padding:5px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: LightSeaGreen;
	border-radius: 6px;
	border:0px;
	color:white;
}
p{
	margin: 20px;
	font-size: 1.8vw;
}
#tilesList{
	list-style-type: none;
}
.check {
	padding-right: 10px;
}
.list {
	font-size: 1.50vw;
}
.stack {
	float:right;
	padding-right: 10px;
}
.footer{
	background-color:#234152;
	width:100%;
	height:auto;
}
.footer input{
	background-color: LightSeaGreen;
	border-radius: 6px;
	border:0px;
	padding:10px 20px 10px 20px;
	color:white;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}
